.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

input {
  width: 500px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.itemsContainer {
  width: 100%;
  overflow-x: auto;
  display: flex;
}

.title {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.slider {
  width: 100% ;
}

.main {
  display: flex;
  width: 100%;
}


.coverContainer {
  padding: 20px;
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    width: 250px;
    object-fit: contain;
    border-radius: 100px;
  }

  p {
    color: white;
    text-align: center;
    font-weight: bold;
  }
}
