.container {
  width: 300px;
  display: block;
  height: auto;
  position: absolute;
  left: 0;
  padding: 10px;
}

.title {
  font-size: 20px;
  color: white;
  width: 100%;
}

.soundItem {
  width: 100%;
  
  p {
    font-size: 1.2rem;
    color: white;
    text-align: center;
  }
}